.primary-button {
    -fx-background-color:   #e8e8e8;
    -fx-border-color: #777777;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: #3c373a;
}

.primary-button .fontawesome-icon {
    -fx-fill: #3c373a;
}

.primary-button:hover {
    -fx-background-color: #3c373a;
    -fx-border-color: #3c373a;
    -fx-text-fill: #ebebeb;    
}

.primary-button:hover .fontawesome-icon {
    -fx-fill: #ebebeb;
}
.primary-button:pressed {
    -fx-background-color: rgb(143, 137, 137);
}


.second-button {
    -fx-background-color:  rgb(238, 231, 231);
    -fx-border-color: linear-gradient(to right bottom, rgb(224, 46, 22), rgb(216, 116, 22));
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: linear-gradient(to right bottom, rgb(224, 46, 22), rgb(216, 116, 22));
}

.second-button .fontawesome-icon {
    -fx-fill: linear-gradient(to right bottom, rgb(224, 46, 22), rgb(216, 116, 22));
}

.second-button:hover {
    -fx-background-color: linear-gradient(to right bottom, rgb(224, 46, 22), rgb(216, 116, 22));
    -fx-text-fill: #ebebeb;    
}

.second-button:hover .fontawesome-icon {
    -fx-fill: #ebebeb;
}
.second-button:pressed {
    -fx-background-color: linear-gradient(to right bottom, rgb(224, 113, 22), rgb(216, 45, 22));
}