
.hbox-style {
    -fx-background-color: rgba(255, 255, 255, 0); /* Màu nền mặc định */
}
/* hover */
/* .hbox-style:hover
{
    -fx-background-color:  #e4e4e3;
} */
.hbox-style:hover .label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
/* selected */
.hbox-style-selected {
    -fx-background-color:  rgb(202, 202, 202); /* Màu nền mặc định */
}
.hbox-style-selected .label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.second-hbox-style {
    -fx-background-color: rgba(255, 255, 255, 0); /* Màu nền mặc định */
}
.second-hbox-style:hover .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.second-hbox-style-selected .label {
    -fx-text-fill: linear-gradient( to bottom, #9ba8ab, #11212d);
}

.second-hbox-style-selected {
    -fx-border-color: linear-gradient( to bottom, #9ba8ab, #11212d);
    -fx-border-width: 0 0 0 5;
}